################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AbstractFactory/obj
/AbstractFactory/bin/Debug/netcoreapp3.1
/AbstractFactory/.vs/AbstractFactory/v17
/AbstractFactory/.vs/Patterns/v17
/Builder/obj
/Builder/bin/Debug/netcoreapp3.1
/FactoryMethod/bin/Debug/netcoreapp3.1
/FactoryMethod/obj
/Prototype/bin/Debug/netcoreapp3.1
/Prototype/obj
/Singleton/bin/Debug/netcoreapp3.1
/Singleton/obj
/Adapter/bin/Debug/netcoreapp3.1
/Adapter/obj
/Bridge/bin/Debug/netcoreapp3.1
/Bridge/obj
/Composite/obj
/Composite/bin/Debug/netcoreapp3.1
/Decorator/obj
/Decorator/bin/Debug/netcoreapp3.1
/Facade/obj
/Facade/bin/Debug/netcoreapp3.1
/Flyweight/obj
/Flyweight/bin/Debug/netcoreapp3.1
/Proxy/obj
/Proxy/bin/Debug/netcoreapp3.1
/ChainOfResp/obj
/ChainOfResp/bin/Debug/netcoreapp3.1
/Command/obj
/Command/bin/Debug/netcoreapp3.1
/Interpreter/obj
/Interpreter/bin/Debug/netcoreapp3.1
/Iterator/obj
/Iterator/bin/Debug/netcoreapp3.1
/Mediator/obj
/Mediator/bin/Debug/netcoreapp3.1
/Memento/obj
/Memento/bin/Debug/netcoreapp3.1
