################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AbstractFactory/obj
/AbstractFactory/bin/Debug/netcoreapp3.1
/AbstractFactory/.vs/AbstractFactory/v17
/AbstractFactory/.vs/Patterns/v17
/Builder/obj
/Builder/bin/Debug/netcoreapp3.1
