################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AbstractFactory/obj
/AbstractFactory/bin/Debug/netcoreapp3.1
/AbstractFactory/.vs/AbstractFactory/v17
/AbstractFactory/.vs/Patterns/v17
/Builder/obj
/Builder/bin/Debug/netcoreapp3.1
/FactoryMethod/bin/Debug/netcoreapp3.1
/FactoryMethod/obj
/Prototype/bin/Debug/netcoreapp3.1
/Prototype/obj
/Singleton/bin/Debug/netcoreapp3.1
/Singleton/obj
/Adapter/bin/Debug/netcoreapp3.1
/Adapter/obj
/Bridge/bin/Debug/netcoreapp3.1
/Bridge/obj
/Composite/obj
/Composite/bin/Debug/netcoreapp3.1
